<h1>This is my home page</h1>
<h2>I don't know what I will have here.  We'll have to see.</h2>
<center><%= image_tag 'Computer-Screen-with-Code.jpg' %>
<table style="width:100%">
  <tr>
    <td>
      This is the first cell of my table.  I will type stuff here for fun.
    </td>
    <td>
      This is the second cell of my table.  I will type stuff here - not - for fun?
    </td>
  </tr>
</table>
</center>
<p>
  Want some paragraph text?  I will type some text here in a paragraph format to see how it looks.  How's it lookin'?
</p>

<%= link_to "About", about_path %>
